{
  "name": "{{name}}",
  "version": "1.0.0",
  "description": "{{ description }}",
  "scripts": {
    "prebuild": "rm -rf output/",
    "build": "webpack --optimize-minimize",
    "dev": "webpack-dev-server",
    "lint": "tslint --project tsconfig.json --type-check"
  },
  "keywords": [
      "typescript",
      "webpack",
      "seed",
      "msg-labs"
  ],
  "author": "{{ author.name }} <{{ author.email }}>",
  "license": "WTFPL"
}
