{
    "compilerOptions": {
        "strictNullChecks": true,
        "target": "es5",
        "jsx": "react",
        "lib": [
            "ES2015",
            "ES6",
            "DOM"
        ]
    }
}
